@media screen and (min-width: 700px) {
    *{
        font-size: 1.5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    body{
        background-attachment: fixed;
        background-size: cover;
        background-position: top right;
        background-image: url(../images/desktop.jpg);
        background-repeat: no-repeat, repeat;
        overflow-y: scroll;
    }

    .btn{
        background-color: black;
        border-radius: 30px;
    }

    .btn a{
        text-decoration: none;
        color: #fff;
    }

    .navbar{
        display: flex;
        width: 100%;
        background-color: #fff;
        box-shadow: 3px 3px 7px rgba(94, 104, 121, 0.377) ;
        border-radius: 0.3rem;
        position: fixed;
        /* height: 10%; */
        top: 0;
    }

    .logo-sec{
        display: flex;
        margin: 0 0 0 1rem;
        justify-content: center;
        align-items: center;
    }

    .logo-sec a{
        background-color: white;
        color: black;
        text-decoration: none;
    }

    nav{
        display: flex;
        margin: 0 1.5rem 0 1.5rem;
        align-items: center;
        justify-content: space-between;
    }

    .menu-bar{
        margin: 1rem;
        height: 1.5rem;
        width: 270px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-item{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3rem;
    }

    .menu-item li{
        list-style: none;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .menu-item li:nth-child(1){
        background-color: #0A2844;
        border: 0.2rem solid #0A2844;
        border-radius: 30px;
        margin-right: 0.5rem;
    }

    .menu-item li:nth-child(1) a:nth-last-child(1){
        color: white;
    }

    .menu-item li a{
        color: #0A2844;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 0.8rem;
        text-decoration: none;
        transform: .3s ease;
    }

    .menu-item li a:hover::after{
        width: 100%;
    }

    .menu-item li a:hover{
        border-radius: 30px;
        transition: 0.2s;
        padding: 0 0 0.2rem 0;
    }

    .menu-item a{
        color: #0A2844;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 0.8rem;
        text-decoration: none;
        transform: .3s ease;
    }

    .sub-item{
        position: relative;
    }
    
    .sub-item::after{
        content: '';
        background-color: #0A2844;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
        position: absolute;
    }

    main{
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 1rem;
        flex-wrap: wrap;
        height: 100%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        padding-top: 80px;
    }

    .atas{
        border-radius: 0.3rem;
        height: 100%;
        margin-top: 50px;
        /* background-color: #D6EAF8 ; */
        background-color: rgba(214, 234, 248, 0.9);
        border: 1px solid #AED6F1;
    }

    #text{
        justify-content: center;
        align-items: center;
    }
    #text h1{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3rem;
        color: #0A2844;
        font-size: 1.5rem;
    }
    #text p{
        text-align: center;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
    }

    .upload-section{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .input{
        width: 80%;
        border-radius: 0.3rem;
        margin: 0.5rem;
        margin-top: 1rem;
        flex-direction: column-reverse;
        background-size: cover;
        background-color: white;
        box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
        3px 3px 7px rgba(94, 104, 121, 0.377) ;
    }

    .input img {
        width: 100%;
        /* margin-bottom: 5%; */
        transition: 0.3s;
    }

    .input img:hover,
    .input img:focus{
        transform: scale(1.1);
        transition: 0.3s;
    }
    .input input {
        display:flex;
    }

    .tombol{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .btn-sub{
        background-color: black;
        border: 0;
        border-radius: 30px;
        color: #fff;
        text-align:center;
        font-size:15px;
        font-family:"Open Sans",sans-serif;
    }

    .input label {
        margin-top: 0;
        display:block;
        width:90%;
        height:45px;
        margin-top: 20px;
        margin-left: 5%;
        justify-content: space-between;
        line-height:50px;
        text-align:center;
        background:#1B4F72;
        color:#fff;
        font-size:15px;
        font-family:"Open Sans",sans-serif;
        text-transform:Uppercase;
        font-weight:600;
        border-radius:3rem;
        cursor:pointer;
        margin-bottom: 10%;
        transition: 0.3s;
    }

    .input label:hover{
        background-color: #0A2844;
        padding: 2px;
        transition: 0.3s;
    }

    .output{
        border-radius: 0.3rem;
        height: 100%;
        color: #0A2844;
        margin-right: 20px;
        margin-top: 50px;
        justify-content: center;
        /* align-items: flex-start; */
        background-color: rgba(214, 234, 248, 0.9);
        border: 1px solid #AED6F1;
        font-family: 'Courier New', Courier, monospace;
    }

    .output h1{
        color: #0A2844;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hasil{
        font-size: 0.8rem;
        text-align: left;
        justify-content: center;
        align-items: center;
        margin: 10px;
        font-size: 0.8rem;
        text-align: center;
    }

    .hasil p{
        display: flex;
    }

    .hasil span{
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 10px;
        font-size: 0.8rem;
        text-align: center;
    }

    .out{
        display: flex;
        margin: 20px;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        font-family: 'Times New Roman', Times, serif;
    }

    .has span{
        font-family: 'Times New Roman', Times, serif;
        font-size: 0.7rem;
    }

    .hasil span img{
        margin-top: 10px;
        /* margin-bottom: 10px; */
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
        3px 3px 7px rgba(94, 104, 121, 0.377) ;
    }

    .peng{
        margin: 20px;
        justify-content: center;
        align-items: center;
        text-align: left;
    }


    /* .tengah{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
    }

    .tutorial-section{
        margin-top: 10px;
        display: none;
        justify-content: center;
        border: 2px solid black;
        border-radius: 0.3rem;
    } */

}


@media screen and (max-width: 700px) {
    *{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5rem;
    }

    body{
        margin: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-attachment: fixed;
        background-size: cover;
        background-position: bottom right;
        background-image: url(../images/desktop.jpg);
        background-repeat: no-repeat, repeat;
    }

    .logo-sec{
        /* margin-top: 0; */
        width: 100%;
        height: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0A2844;
        color: white;
        box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
        3px 3px 7px rgba(94, 104, 121, 0.377) ;
    }

    .logo-sec a{
        color: white;
        text-decoration: none;
    }

    .logo-sec h1{
        margin: 8px;
    }

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;    
        box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377);
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 10%;
        border-radius: 0.3rem;
    }

    .menu-item {
        display: flex;
        width: 100%;
        padding: 0;
    }

    .menu-item li{
        display: flex;
        align-items: center;
    }

    .menu-item li a i{
        color: #0A2844;
    }

    /* .menu-item li:nth-child(2){
        background-color: #0A2844;
        border: 0.4rem solid #0A2844;
        border-radius: 30px;
        transition: 0.3s;
    }

    .menu-item li:nth-last-child(2):hover{
        padding: 2px;
        background-color: aqua;
        border: aqua;
        transition: 0.3s;
    }

    .menu-item li:nth-child(2) a:nth-last-child(1){
        color: white;
    } */

    .menu-item li a{
        color: #0A2844;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 0.8rem;
        text-decoration: none;
        transform: .3s ease;
    }

    .sub-item{
        position: relative;
    }
    
    .sub-item::after{
        content: '';
        background-color: #0A2844;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
        position: absolute;
    }

    main{
        padding-right: 15px;
        text-align: center;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 76%;
        padding-bottom: 40px;
    }

    main h1{
        font-size: 1rem;
    }

    .atas{
        background-color: rgba(255, 255, 255, 0.9);
    }

    #text{
        border: solid 1px #AED6F1;
        margin-left: 0.5rem;
        margin-top: 1rem;
        border-radius: 0.3rem;
    }
    
    main p{
        align-items: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 0.6rem;
        width: 100%;
        color: black;
        line-height: 0.9rem;
    }
    .upload-section{
        margin-left: 15px;
    }

    .input{
        width: 100%;
        border-radius: 0.3rem;
        /* margin: 0.5rem; */
        /* margin-left: 15px; */
        margin-top: 1rem;
        flex-direction: column-reverse;
        background-size: cover;
        background-color: white;
        box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
        3px 3px 7px rgba(94, 104, 121, 0.377) ;
    }

    .input img {
        width: 100%;
        margin-bottom: 5%;
        transition: 0.3s;
    }

    .input img:hover,
    .input img:focus{
        transform: scale(1.1);
        transition: 0.3s;
    }
    .input input {
        display:flex;
    }

    .tombol{
        margin-top: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .input label {
        display:block;
        width:90%;
        height:45px;
        margin-left: 5%;
        justify-content: space-between;
        line-height:50px;
        text-align:center;
        background:#1B4F72;
        color:#fff;
        font-size:15px;
        font-family:"Open Sans",sans-serif;
        text-transform:Uppercase;
        font-weight:600;
        border-radius:3rem;
        cursor:pointer;
        margin-bottom: 10%;
        transition: 0.3s;
    }

    .input label:hover{
        background-color: #0A2844;
        padding: 2px;
        transition: 0.3s;
    }

    .input label::after{
        background-color: #0A2844;
        transition: 0.3s;
    }

    .output{
        margin-top: 20px;
        /* padding-top: 15px; */
        margin-left: 15px;
        /* height: 100%; */
        justify-content: center;
        align-items: center;
        border-radius: 0.3rem;
        border: 1px solid #AED6F1;
        background-color: rgba(255, 255, 255, 0.9);
    }

    .out img{
        width: 100%;
        /* margin: 15px; */
        box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
        3px 3px 7px rgba(94, 104, 121, 0.377) ;
    }

    .out{
        font-family: 'Times New Roman', Times, serif;
        margin: 10px;
    }

    .hasil span{
        font-weight: bold;
        font-size: 0.8;
    }
    .hasil{
        font-size: 0.6rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .out span{
        font-family: 'Times New Roman', Times, serif;
        font-size: 0.8rem;
        /* margin: 20px; */
        text-align: left;
        /* margin: 10px; */
    }
    .peng{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        margin: 20px;
    }

    .peng span{
        font-size: 0.6rem;
    }


    /* .output h1{
        background-color: #D6EAF8;
        border-radius: 0.3rem;
        font-size: 1.2rem;
        margin-top: 0;
    } */

    .box-text{
        background-color: #D6EAF8;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .diagnosa{
        display: flex;
    }

}