@media screen and (min-width: 800px) {
*{
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* background-attachment: fixed;
    background-size: cover;
    background-position: bottom right;
    background-image: url(../images/desktop.jpg);
    background-repeat: no-repeat, repeat; */
}

.btn{
    margin: 0;
    display: flex;
    background-color: #1B4F72;
    border: none;
    border-radius: 30px;
    transition: 0.3s;
    border: 2px solid #1B4F72;
}

.tom{
    margin-left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 20px;
}

.btn a{
    font-weight: lighter;
    margin: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
}

.btn:hover{
    background-color: #0A2844;
    transition: 0.3s;
    /* padding-left: 0.5px;
    padding-right: 0.5px; */
}

.navbar{
    /* background-color:  #EBF5FB; */
    display: flex;
    width: 100%;
    box-shadow: 3px 3px 7px rgba(94, 104, 121, 0.377) ;
    border-radius: 0.3rem;
}

.logo-sec{
    display: flex;
    margin: 0 0 0 1rem;
    justify-content: center;
    align-items: center;
}

.logo-sec a{
    background-color: white;
    color: black;
    text-decoration: none;
}

nav{
    display: flex;
    margin: 0 1.5rem 0 1.5rem;
    align-items: center;
    justify-content: space-between;

}

.menu-bar{
    margin: 1rem;
    height: 1.5rem;
    width: 270px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}

.menu-item li{
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.menu-item li:nth-child(1){
    border: none;
    background-color: #0A2844;
    border: 0.2rem solid #0A2844 ;
    border-radius: 30px;
    margin-right: 0.5rem;
}

.menu-item li:nth-child(1) a:nth-last-child(1){
    color: white;
}

.menu-item li a{
    color: #0A2844;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.8rem;
    text-decoration: none;
    transform: .3s ease;
}

.menu-item li a:hover::after{
    width: 100%;
}

.menu-item li a:hover{
    border-radius: 30px;
    transition: 0.2s;
    padding: 0 0 0.2rem 0;
}

.menu-item a{
    color: #0A2844;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.8rem;
    text-decoration: none;
    transform: .3s ease;
}

.sub-item{
    position: relative;
}

.sub-item::after{
    content: '';
    background-color: #0A2844;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    position: absolute;
}

/* Start Main */
main{
    /* margin-top: 10%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    align-items: center;
    /* justify-content: center; */
    margin-left: 5%;
    margin-right: 5%;
    /* overflow: hidden; */
}

main h1{
    color: #0A2844;
    font-size: 3.5rem;
}

main p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.7rem;
    width: 20rem;
    color: black;
    line-height: 0.9rem;
}

/* Start Desktop Image */
/* #img-side{
    width: 15rem;
} */

.desktop-img{
    /* padding-top: 15px; */
    margin-top: 15px;
    width: 100%;
    display: flex;
}

.mobile-img{
    display: none;
}
/* Start Bottom */
.bottom{
    display: grid;
    width: 100%;
    height: 70vh;
    align-items: center;
    justify-content: center;
    background-color: black;
}

}

/* Responsive */
@media screen and (max-width: 800px){
    * {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5rem;
    }

    body{
        margin: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-attachment: fixed;
        background-size: cover;
        background-position: bottom right;
        background-image: url(../images/desktop.jpg);
        background-repeat: no-repeat, repeat;
    }

    .logo-sec{
        width: 100%;
        height: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0A2844;
        color: white;
        box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
        3px 3px 7px rgba(94, 104, 121, 0.377) ;
    }

    .logo-sec a{
        color: white;
        text-decoration: none;
    }
    .logo-sec h1{
        margin: 8px;
    }

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;    
        box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377);
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 10%;
        border-radius: 0.3rem;
    }

    .menu-item {
        display: flex;
        width: 100%;
        padding: 0;
    }

    .menu-item li{
        display: flex;
        align-items: center;
    }

    .menu-item li a i{
        color: #0A2844;
    }
/* 
    .menu-item li:nth-child(2){
        background-color: #0A2844;
        border: 0.4rem solid #0A2844;
        border-radius: 30px;
        transition: 0.3s;
    }

    .menu-item li:nth-last-child(2):hover{
        padding: 2px;
        background-color: aqua;
        border: aqua;
        transition: 0.3s;
    }

    .menu-item li:nth-child(2) a:nth-last-child(1){
        color: white;
    } */

    .menu-item li a{
        color: #0A2844;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 0.8rem;
        text-decoration: none;
        transform: .3s ease;
    }

    .sub-item{
        position: relative;
    }
    
    .sub-item::after{
        content: '';
        background-color: #0A2844;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
        position: absolute;
    }

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background-color: aliceblue;     */
        box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377);
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 10%;
        border-radius: 0.3rem;
    }

    .menu-item {
        display: flex;
        width: 100%;
        padding: 0;
    }

    .menu-item li{
        display: flex;
        align-items: center;
    }

    .menu-item li a i{
        color: black;
    }

    /* .menu-item li:nth-child(2){
        background-color: #0A2844;
        border: 0.4rem solid #0A2844;
        border-radius: 30px;
        transition: 0.3s;
    } */

    /* .menu-item li:nth-last-child(2):hover{
        padding: 2px;
        background-color: aqua;
        border: aqua;
        transition: 0.3s;
    }

    .menu-item li:nth-child(2) a:nth-last-child(1){
        color: white;
    } */

    .menu-item li a{
        color: black;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 0.8rem;
        text-decoration: none;
        transform: .3s ease;
    }

    .sub-item{
        position: relative;
    }
    
    .sub-item::after{
        content: '';
        background-color: black;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
        position: absolute;
    }

    main{
        padding-right: 15px;
        text-align: center;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        padding-bottom: 40px;
        /* background-image: url(../images/desktop.jpg);
        background-color: #cccccc; */
    }

    main h1{
        border-radius: 0.3rem;
        font-size: 1.2rem;
    }

    /* main p{
        text-align: left;
        margin: 30px;
        align-items: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 0.5rem;
        width: 100%;
        color: black;
        line-height: 0.9rem;
    } */

    #text-side{
        margin-top: 10px;
        height: 100%;
        margin-left: 15px;
        font-size: 2rem;
    }

    .box-text{
        margin-top: 20px;
        border: 1px solid #AED6F1;
        border-radius: 0.3rem;
        background-color: rgba(255, 255, 255, 0.9);
    }

    .pel{
        display: flex;
        margin: 20px;
    }

    .head{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #D6EAF8;
    }
    .box-text p{
        text-align: left;
        align-items: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 0.5rem;
        width: 100%;
        color: black;
        line-height: 0.9rem;
    }

    #img-side{
        display: none;
    }

    .tom{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
    }

    .btn{
        display: flex;
        /* text-transform:Uppercase; */
        background-color: #1B4F72;
        border: none;
        border-radius: 0.3rem;
        transition: 0.3s;
        margin-bottom: 10px;
    }
    
    .btn a{
        padding: 10px;
        font-size: 0.6rem;
        font-weight: normal;
        text-decoration: none;
        color: #fff;
    }
    
    .btn:hover{
        border: onen;
        background-color: #0A2844;
        transition: 0.3s;
        /* padding-left: 0.5px;
        padding-right: 0.5px; */
    }

}