<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style3.css">
    <!-- <link rel="stylesheet" href="../css/styles.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width", initial-scale="1.0">

    <!-- Start Title -->
    <title>Skin Desease Detection</title>
</head>
<body>
            <!-- Start Navbar -->
            <div class="navbar">
                <!-- Start Logo -->
                <div class="logo-sec">
                    <h1><a href="{{url_for('home')}}" class="logos">MoonSkin</a></h1>
                </div>
                <!-- End Logo -->
                <!-- Start Menu -->
                <nav>
                    <div class="menu-bar">
                        <ul class="menu-item">
                            <li><a href="{{url_for('home')}}">Home</a></li>
                            <li><a href="{{url_for('tutorial')}}" class="sub-item">Tutorial</a></li>
                            <li><a href="{{url_for('about')}}" class="sub-item">About</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- End Menu -->
            </div>
            <!-- End Navbar -->
            <!-- Start Main -->
            <main>
                <section class="tentang">
                    <div class="box">
                        <div class="judul">
                            <h1>Arahan Pengguna</h1>
                        </div>
                        <div class="box-text">
                            <div class="ten">
                                <ul>
                                    <li>Siapkan gambar / foto penyakit kulut yang kita alami</li>
                                    <li>Buka laman web atau aplikasi MoonSkin. </li>
                                    <li>pada tampilan home kita bisa memilik uji</li>
                                    <li>Kemudian kita akan diarahkan pada lama identifikasi. </li>
                                    <li>Masukan gambar yang telah kita ambil sebelumnya, jika sudah klik tombol uji.</li>
                                    <li>Tunggu beberapa saat, kemudian hasil prediksi akan muncul</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="tentang">
                    <div class="box">
                        <div class="judul">
                            <h1>Arahan Penggambilan Gambar</h1>
                        </div>
                        <div class="box-text">
                            <div class="ten">
                                <ul>
                                    <li>Dekatkan kamera dengan jarak seminimal mungkin dipenyakit</li>
                                    <li>Posisikan penyakit ditengah</li>
                                    <li>Pastikan foto bebas dari objek lain seperti (rambut, perhiasan, dll)</li>
                                    <li>Pastikan gambar yang diambil tidak blur</li>
                                    <li>Semakin bagus kamera maka akan semakin bagus kualitas gambar dan hasil prediksi</li>
                                    <li>Simpan foto anda dipenyimpanan</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>
                </section>
            </main>
</body>
</html>